body {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form div.bg-dark {
    --bs-bg-opacity: 0.5;
}

.modal-body::first-letter {
    text-transform: uppercase;
}

.btn-check:checked + label::after{
    content: "";
    position: absolute;
    bottom: -49%;
    left: 20%;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(248, 249, 250) transparent;
}
#sectionContractInfo:has(> #contractCalling > .opacity-25) .btn-check:checked + label::after{
    opacity: 0.25;
}
#loadFormAction{
    left: 48%;
}